<div class="container">
  <h1>Source</h1>
  <form class="form" [formGroup]="form">
    <mat-form-field>
      <mat-label>Old password</mat-label>
      <input matInput type="password" formControlName="oldPassword">
    </mat-form-field>
    <mat-form-field>
      <mat-label>New password</mat-label>
      <input matInput type="password" formControlName="newPassword">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Repeat password</mat-label>
      <input matInput type="password" formControlName="repeatPassword">
    </mat-form-field>
    <div mat-dialog-actions align="end">
      <button mat-stroked-button [mat-dialog-close]="false">Cancel</button>
      <button mat-flat-button color="primary" (click)="changePassword()" [disabled]="form.invalid">Change password</button>
    </div>
  </form>
</div>
