<div class="container">
  <div class="menu">
    <button mat-fab color="primary" aria-label="Menu" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="addToWatchlist()" *ngIf="!series?.on_watchlist">
        <mat-icon>add</mat-icon>
        <span>Add to watchlist</span>
      </button>
      <button mat-menu-item (click)="removeFromWatchlist()" *ngIf="series?.on_watchlist">
        <mat-icon>remove</mat-icon>
        <span>Remove from watchlist</span>
      </button>
      <button mat-menu-item (click)="editMetadata()">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item (click)="deleteSeries()">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
  </div>
  <app-backdrop [title]="series?.title" [backdrop_path]="series?.backdrop_path">
    <div class="status">{{series?.status}}</div>
    <div class="release-year">{{series?.first_air_date?.getFullYear()}}&ZeroWidthSpace;</div>
    <div class="number_of_seasons">{{series?.number_of_seasons}} seasons&ZeroWidthSpace;</div>
    <div class="number_of_episodes">{{series?.number_of_episodes}} episodes&ZeroWidthSpace;</div>
  </app-backdrop>
  <app-details-poster [poster_path]="series?.poster_path"></app-details-poster>
  <app-media-details [service]="seriesService" [media]="series" [editable]="editable" (refresh)="getSeries()"></app-media-details>
  <app-logs [service]="seriesService" [media_id]="series?.id ?? 0" [logs]="series?.logs ?? []" [sources]="series?.sources ?? []" (refresh)="getSeries()"></app-logs>
</div>
