.details-wrapper
  margin: 0 1rem 0 26rem
  min-height: 31rem

.details-wrapper *
  display: flex
  justify-content: flex-start
  flex-wrap: wrap

.overview
  margin-top: 1rem

.logs-wrapper
  margin: 0 1rem
