<div class="container">
  <div class="menu">
    <button mat-fab color="primary" aria-label="Menu" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item (click)="deleteSeries()">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
  </div>
  <app-backdrop [title]="series?.title" [backdrop_path]="series?.backdrop_path">
    <div class="release-year">{{series?.first_air_date?.getFullYear()}}&ZeroWidthSpace;</div>
    <div class="runtime">{{series?.number_of_seasons}} seasons&ZeroWidthSpace;</div>
    <div class="runtime">{{series?.number_of_episodes}} episodes&ZeroWidthSpace;</div>
  </app-backdrop>
  <app-details-poster [poster_path]="series?.poster_path"></app-details-poster>
  <div class="details-wrapper">
    <app-tag-list *ngIf="(series?.alternative_titles?.length ?? 0) != 0 || editable" [property]="'title'" [tags]="series?.alternative_titles" [editable]="editable" (addTag)="createTitle($event)" (deleteTag)="deleteTitle($event)" (setPrimary)="setPrimaryTitle($event)" [primaryAction]="true"/>
    <app-tag-list *ngIf="(series?.genres?.length ?? 0) != 0 || editable" [property]="'name'" [tags]="series?.genres" [editable]="editable" (addTag)="createGenre($event)" (deleteTag)="deleteGenre($event)"/>
    <app-tag-list *ngIf="(series?.tags?.length ?? 0) != 0 || editable" [property]="'name'" [tags]="series?.tags" [editable]="editable" (addTag)="createTag($event)" (deleteTag)="deleteTag($event)"/>
    <p class="overview">{{series?.overview}}</p>
  </div>
  <div class="logs-wrapper">
    <ng-template ngFor let-log [ngForOf]="series?.logs">
      <app-log [log]="log" [editable]="editable"/>
    </ng-template>
  </div>
</div>
