<app-backdrop [title]="movie?.title" [backdrop_path]="movie?.backdrop_path">
  <div class="release-year">{{movie?.release_date?.getFullYear()}}&ZeroWidthSpace;</div>
  <div class="runtime">{{movie?.runtime}} min&ZeroWidthSpace;</div>
</app-backdrop>
<app-details-poster [poster_path]="movie?.poster_path"></app-details-poster>
<div class="details-wrapper">
  <div class="titles-wrapper">
    <ng-template ngFor let-title [ngForOf]="movie?.alternative_titles">
      <app-tag [content]="title.title"/>
    </ng-template>
  </div>
  <div class="genres-wrapper">
    <ng-template ngFor let-genre [ngForOf]="movie?.genres">
      <app-tag [content]="genre.name"/>
    </ng-template>
  </div>
  <div class="tags-wrapper">
    <ng-template ngFor let-tag [ngForOf]="movie?.tags">
      <app-tag [content]="tag.name"/>
    </ng-template>
  </div>
  <p class="overview">{{movie?.overview}}</p>
</div>
<div class="logs-wrapper">
  <ng-template ngFor let-log [ngForOf]="movie?.logs">
    <app-log [log]="log" [editable]="editable"/>
  </ng-template>
</div>
