<div class="container">
  <div class="menu">
    <button mat-fab color="primary" aria-label="Menu" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="editMetadata()">
        <mat-icon>edit</mat-icon>
        <span>Edit metadata</span>
      </button>
      <button mat-menu-item (click)="deleteMovie()">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
  </div>
  <app-backdrop [title]="movie?.title" [backdrop_path]="movie?.backdrop_path">
    <div class="status">{{movie?.status}}</div>
    <div class="release-year">{{movie?.release_date?.getFullYear()}}&ZeroWidthSpace;</div>
    <div class="runtime">{{movie?.runtime}} min&ZeroWidthSpace;</div>
  </app-backdrop>
  <app-details-poster [poster_path]="movie?.poster_path"></app-details-poster>
  <app-media-details [service]="moviesService" [media]="movie" [editable]="editable" (refresh)="getMovie()"></app-media-details>
  <app-logs [service]="moviesService" [media_id]="movie?.id ?? 0" [logs]="movie?.logs ?? []" [sources]="movie?.sources ?? []" (refresh)="getMovie()"></app-logs>
</div>
