<div class="container">
  <div class="fabs">
    <button *ngIf="!editable" mat-fab color="primary" aria-label="Edit" class="edit-fab" (click)="editable = true">
      <mat-icon>edit</mat-icon>
    </button>
    <button *ngIf="editable" mat-fab color="primary" aria-label="Cancel" class="edit-fab" (click)="cancel()">
      <mat-icon>cancel</mat-icon>
    </button>
    <button *ngIf="editable" mat-fab color="primary" aria-label="Save" class="edit-fab" (click)="save()">
      <mat-icon>save</mat-icon>
    </button>
  </div>
  <app-backdrop [title]="movie?.title" [backdrop_path]="movie?.backdrop_path">
    <div class="release-year">{{movie?.release_date?.getFullYear()}}&ZeroWidthSpace;</div>
    <div class="runtime">{{movie?.runtime}} min&ZeroWidthSpace;</div>
  </app-backdrop>
  <app-details-poster [poster_path]="movie?.poster_path"></app-details-poster>
  <div class="details-wrapper">
    <app-tag-list [property]="'title'" [tags]="movie?.alternative_titles" [editable]="editable"/>
    <app-tag-list [property]="'name'" [tags]="movie?.genres" [editable]="editable" (addTag)="createGenre($event)" (deleteTag)="deleteGenre($event)"/>
    <app-tag-list [property]="'name'" [tags]="movie?.tags" [editable]="editable" (addTag)="createTag($event)" (deleteTag)="deleteTag($event)"/>
    <p class="overview">{{movie?.overview}}</p>
  </div>
  <div class="logs-wrapper">
    <ng-template ngFor let-log [ngForOf]="movie?.logs">
      <app-log [log]="log" [editable]="editable"/>
    </ng-template>
  </div>
</div>
