.wrapper
  width: 60%
  height: 3rem
  display: flex
  gap: 0.5rem

.container
  position: relative
  width: 100%
  display: flex

.searchbar-container
  background-color: var(--mat-sys-inverse-primary)

.searchbar
  font-size: 1rem
  background-color: transparent
  border: none
  outline: none
  padding: 0 1rem
  flex-grow: 1
  color: var(--mat-sys-on-primary-container)

.search-icon
  padding: 12px

.error
  padding: 12px 5px
