<div class="container">
  <mat-nav-list class="nav-list">
    <a mat-list-item routerLink="/settings/profile" routerLinkActive="nav-list-link-active">
      <span class="nav-list-item">
        <mat-icon class="nav-list-icon">person</mat-icon>
        <span>Profile</span>
      </span>
    </a>
    <a mat-list-item routerLink="/settings/tokens" routerLinkActive="nav-list-link-active">
      <span class="nav-list-item">
        <mat-icon class="nav-list-icon">key</mat-icon>
        <span>App tokens</span>
      </span>
    </a>
    <a mat-list-item routerLink="/settings/about" routerLinkActive="nav-list-link-active">
      <span class="nav-list-item">
        <mat-icon class="nav-list-icon">info</mat-icon>
        <span>About</span>
      </span>
    </a>
    <div class="administration-endpoints" *ngIf="AppConfig.run.is_admin">
      <h2>Administration</h2>
      <a mat-list-item routerLink="/settings/users" routerLinkActive="nav-list-link-active">
        <span class="nav-list-item">
          <mat-icon class="nav-list-icon">group</mat-icon>
          <span>Users</span>
        </span>
      </a>
    </div>
  </mat-nav-list>
  <mat-divider vertical></mat-divider>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
