.container
  display: flex
  height: 100%

.nav-list
  padding: 0
  height: 100%


.nav-list-item
  display: flex
  flex-direction: row
  align-content: center
  gap: 1rem

.nav-list-link-active .nav-list-item
  color: #45E07C
