<div class="container">
  <div>&NonBreakingSpace;</div>
  <div class="details">
    <img src="assets/logo.svg" alt="logo" class="logo">
    <h2>Movies and TV Series tracker</h2>
    <p>Created by Adam Tomc</p>
    <p>Licenced under the terms of AGPL</p>

    <p>Report issues on GitHub: <a href="https://github.com/MiaTracker/mia-web">https://github.com/MiaTracker/mia-web</a></p>
  </div>
  <div class="attributions">
    <div class="row">
      <a href="https://www.themoviedb.org/" target="_blank"><img src="assets/tmdb_logo.svg" alt="" class="attribution-logo"></a>
      <p>This product uses the TMDB API but is not endorsed or certified by TMDB.</p>
    </div>
  </div>
</div>
