.container
  padding: 1rem

.doughnut
  max-height: 15rem
  max-width: 25rem
  display: inline-block !important
  margin: 1rem

.title
  margin-top: 2rem
  text-align: center

.most-watched-container
  margin: 0.5rem
  text-align: center
  display: inline-block

.poster
  width: 10rem
  height: 15rem
  display: block

.wrap
  width: fit-content

.row
  display: flex
  gap: 1rem

.card
  padding: 1rem
  vertical-align: bottom
  height: 15rem
  align-self: flex-end
  margin-bottom: 0.5rem

.card-content
  font-size: 1rem
  display: flex
  justify-content: space-between
  margin-top: 0.5rem
