.container
  width: 100%
  height: 100%
  display: flex
  flex-direction: column

.navbar
  display: flex
  justify-content: space-between
  min-height: var(--mat-toolbar-standard-height)

.back-btn
  margin-right: 1rem

.searchbar
  flex-grow: 1
  display: flex
  justify-content: center

.naive-filter
  position: sticky
  top: 0
  display: flex
  z-index: 3
  flex-direction: row
  gap: 2rem
  width: 80%
  margin-left: auto
  margin-right: auto
  align-items: center
  padding: 1rem
  margin-bottom: 0.5rem
  border-radius: 0 0 0.3rem 0.3rem

  .grow
    flex-grow: 1

.sidenav-container
  flex-grow: 1

.nav-list
  padding: 0


.nav-list-item
  display: flex
  flex-direction: row
  align-content: center
  gap: 1rem

.hidden
  display: none

.sidenav-content
  display: flex
  flex-direction: column
  justify-content: space-between
  height: 100%

.settings-nav-list
  padding: 0
