.tag
  padding: 0.2rem 1rem
  display: flex
  gap: 0.5rem
  align-items: center
  background-color: var(--mat-sys-secondary-container)
  border-radius: 0.5rem

.tag-content
  font-size: 1rem
  margin: 0
  padding: 0

.tag-action
  font-size: 1rem
  width: 1rem
  height: 1rem
  line-height: 1rem
  cursor: pointer
  display: none

.tag-action-editable
  display: inline-block
