<div class="poster">
  <img alt="{{index.title}}" class="poster-img" srcset="{{posterSrcset}}">
  <p class="title">{{index.title}}</p>
  <mat-icon class="indicator type-ind" *ngIf="showType">{{index.type == MediaType.Movie ? 'movie' : 'tv'}}</mat-icon>
  <div class="indicator stars" *ngIf="internal?.stars != undefined">
    <mat-icon class="star">star</mat-icon>
    <div>{{Math.floor((internal?.stars ?? 0) * 100) / 100}}</div>
  </div>
  <mat-icon class="indicator external" *ngIf="!internal">add_link</mat-icon>
  <button mat-fab class="add-external-btn" (click)="create()" *ngIf="!internal">
    <mat-icon>add</mat-icon>
  </button>
</div>
